table {
  border: none;
}

.table-container {
  @apply my-2 sm:-mx-6 lg:-mx-8 w-full p-0 overflow-y-scroll;
}
.table-container-p {
  @apply py-2 align-middle inline-block min-w-full sm:px-6 lg:ml-2;
}
/* .table-container-content {
  max-height: 75vh;
  overflow-y: auto;
} */
.table-container-tb {
  width: 100%; /* Opcional: asegura que la tabla ocupe todo el ancho del contenedor */
  /*   border-collapse: separate; Fusiona los bordes de las celdas */
  background-color: #fff;
  font-size: smaller;
  margin-top: -20px !important;
  @apply border-separate border-spacing-y-4;
}
/* .table-container-tb {
  @apply min-w-full divide-y divide-gray-300;
} */

.table-container-thead {
  position: sticky; /* Fija el thead */
  top: 0; /* Fija el thead en la parte superior del contenedor */
  background-color: #fff; /* Opcional: fondo blanco para el thead */
}
.table-container-thead tr {
  background-color: #edf2f9;
  @apply rounded-lg;
}

.table-container-th {
  @apply px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase;
}
.table-container-th-mini {
  @apply px-2;
}
/* .table-container-tbody {
  @apply h-auto overflow-y-auto;
} */
.table-container-tbody-tr {
  @apply border shadow;
}
.table-container-tbody td {
  @apply text-center space-y-1 py-4 border-y;
}
.table-container-tbody label {
  @apply font-semibold;
}
.table-container-tbody td .td-group {
  @apply text-center block;
}
.table-container-tbody td .td-group-mobile {
  @apply text-left block space-y-2;
}
.table-container-td {
  @apply px-6 py-4 whitespace-nowrap text-center;
}
.table-container-td .title {
  @apply text-sm;
}
.table-container-td .active {
  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800;
}
.table-container-td .icon-edit {
  @apply p-2 inline-flex text-xs leading-5 font-semibold rounded-full text-blue-500 hover:bg-blue-100;
}
.table-container-td .icon-delete {
  @apply p-2 inline-flex text-xs leading-5 font-semibold rounded-full text-red-500 hover:bg-red-100;
}
.table-container-td .image {
  @apply md:w-20 mx-auto;
}
/* px-6 py-4 whitespace-nowrap text-sm text-gray-500 */

.table-container-content table tr th:first-child {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.table-container-content table tr th:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.table-container-content table tr td:first-child {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-left: 1px solid #ededed;
}

.table-container-content table tr td:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-right: 1px solid #ededed;
}
